#body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#table {
    margin:  auto;
    border-collapse: collapse;
}

td {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 60px;
    cursor: pointer;
}

td:hover {
    background-color: #eee;
}
