<!DOCTYPE html>
<html>
<head>

	<title>Tic Tac Toe</title>
    <link href="../CSS/Game.css" rel="stylesheet" type="text/css">
</head>

<body id = "body">

	<h1 id="title">Tic-Tac-Toe</h1>

	<table id = "table">
		<tr>
			<td id="cell0" onclick="playerTurn(0)"></td>
			<td id="cell1" onclick="playerTurn(1)"></td>
			<td id="cell2" onclick="playerTurn(2)"></td>
		</tr>
		<tr>
			<td id="cell3" onclick="playerTurn(3)"></td>
			<td id="cell4" onclick="playerTurn(4)"></td>
			<td id="cell5" onclick="playerTurn(5)"></td>
		</tr>
		<tr>
			<td id="cell6" onclick="playerTurn(6)"></td>
			<td id="cell7" onclick="playerTurn(7)"></td>
			<td id="cell8" onclick="playerTurn(8)"></td>
		</tr>
	</table>
	<p id="message"></p>


<script src="../Scripts/TheGame.js"></script>

</body>
